
#navegador ul li a{
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 20px;
    line-height: normal;
    /*display: inline-block;*/
    float:left;
    display: flex;
    text-align: center;
   
}
#navegador ul a:hover{
   /* background-color:firebrick;*/
   background-color:teal;
    color:white;
           
}
#navegador ul li {
    display: inline-block;

}

.marginTop {
    margin-top: 100px;
    text-align: center;
}

.marginRight{
    margin-right: auto;
}

.marginBottom{
    margin-bottom: 20px;
}

.nov{
    font-family: 'Roboto', sans-serif;
   /* color:whitesmoke;*/
   color: black;
}

#dropdown{
    padding-left: 500px;
   
}

#boton{
    padding-left: 180px;
}

.bloque{
    margin-top:25px;
}