
.nav-link{
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 20px;
    line-height: normal;
    /*display: inline-block;*/
    float:left;
    display: flex;
    text-align: center;
}

.coso{
    color: red;
}

.marginTop {
    margin-top: 100px;
    text-align: center;
}

.marginRight{
    margin-right: auto;
}

.marginBottom{
    margin-bottom: 20px;
}