.colorCard {

    background-color: aquamarine;

}

.marginTopProd{

    margin-top: 80px;

}

.marginBotDrop{

    margin-left: auto;

}

body {

    background-color: #768fff;

}

.centrar{

    align-content: center;

}

.searchAlign{

    margin-top: 10%;

}